body {margin:0; background-color:#f6f2e0}
#wrap {width:1300px; margin:0px auto; height:500px;font-family:"HY견명조"}
#header{width:1300px; height:200px;}
#logo {height:100px; float:center; margin-right:50px; margin-left:100px;}
#menu {text-align:center; background-color:#f6f2e0; padding:5px 0; margin-top:50px; margin-left:70px;}
#project {text-align:left;}
#project1{text-align:center;}
